In [1]:
import pandas as pd

dataframe = pd.read_csv('googleplaystore.csv')
dataframe.head(5)

,Rating,App,Category,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,4.1,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,159,19M,"10,000+",Free,0,Everyone,Art & Design,07-Jan-18,1.0.0,4.0.3 and up
1,3.9,Coloring book moana,ART_AND_DESIGN,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,15-Jan-18,2.0.0,4.0.3 and up
2,4.7,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,01-Aug-18,1.2.4,4.0.3 and up
3,4.5,Sketch - Draw & Paint,ART_AND_DESIGN,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,08-Jun-18,Varies with device,4.2 and up
4,4.3,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,20-Jun-18,1.1,4.4 and up

In [2]:
#only for numeric columns
dataframe.describe()

            Rating       Reviews
count  9366.000000  1.084000e+04
mean      4.191757  4.441529e+05
std       0.515219  2.927761e+06
min       1.000000  0.000000e+00
25%       4.000000  3.800000e+01
50%       4.300000  2.094000e+03
75%       4.500000  5.477550e+04
max       5.000000  7.815831e+07

In [3]:
#dataframe = dataframe.set_index(dataframe['App'])
#print("Minimum rating",dataframe['Rating'].min())
#print()
print("Different values for the category:\n ",dataframe['Category'].value_counts())

Different values for the category:
  FAMILY                 1972
GAME                   1144
TOOLS                   843
MEDICAL                 463
BUSINESS                460
PRODUCTIVITY            424
PERSONALIZATION         392
COMMUNICATION           387
SPORTS                  384
LIFESTYLE               382
FINANCE                 366
HEALTH_AND_FITNESS      341
PHOTOGRAPHY             335
SOCIAL                  295
NEWS_AND_MAGAZINES      283
SHOPPING                260
TRAVEL_AND_LOCAL        258
DATING                  234
BOOKS_AND_REFERENCE     231
VIDEO_PLAYERS           175
EDUCATION               156
ENTERTAINMENT           149
MAPS_AND_NAVIGATION     137
FOOD_AND_DRINK          127
HOUSE_AND_HOME           88
LIBRARIES_AND_DEMO       85
AUTO_AND_VEHICLES        85
WEATHER                  82
ART_AND_DESIGN           65
EVENTS                   64
PARENTING                60
COMICS                   60
BEAUTY                   53
Name: Category, dtype: int64

In [4]:
print("Different values for the genres:\n ",dataframe['Genres'].value_counts())

Different values for the genres:
  Tools                       842
Entertainment               623
Education                   549
Medical                     463
Business                    460
                           ...
Puzzle;Education              1
Comics;Creativity             1
Role Playing;Brain Games      1
Entertainment;Education       1
Adventure;Brain Games         1
Name: Genres, Length: 119, dtype: int64

In [5]:
print("Different values for the content rating:\n ",dataframe['Content Rating'].value_counts())

Different values for the content rating:
  Everyone           8714
Teen               1208
Mature 17+          499
Everyone 10+        414
Adults only 18+       3
Unrated               2
Name: Content Rating, dtype: int64

In [6]:
#Mozda da se obrise kolona Type (sadrzi samo dve vrednosti Free i Paid)? Postoji kolona Price..
dataframe.drop(['Type'], axis=1,inplace=True)
#print("Different values for the type:\n ",dataframe['Type'].value_counts())

In [7]:
#Uklanjanje $ ispred cene
dataframe['Price'] = dataframe['Price'].replace('[\$,]', '', regex=True).astype(float)
#print("Different values for the price:\n ",dataframe['Price'].value_counts())

In [8]:
#Uklanjanje + iza broja instalacija
dataframe['Installs'] = dataframe['Installs'].replace('[,\+]', '', regex=True).astype(int)
#print("Different values for the installs:\n ",dataframe['Installs'].value_counts())

In [9]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10840 entries, 0 to 10839
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Rating          9366 non-null   float64
 1   App             10840 non-null  object
 2   Category        10840 non-null  object
 3   Reviews         10840 non-null  int64
 4   Size            10840 non-null  object
 5   Installs        10840 non-null  int32
 6   Price           10840 non-null  float64
 7   Content Rating  10840 non-null  object
 8   Genres          10840 non-null  object
 9   Last Updated    10840 non-null  object
 10  Current Ver     10832 non-null  object
 11  Android Ver     10838 non-null  object
dtypes: float64(2), int32(1), int64(1), object(8)
memory usage: 635.2+ KB

In [10]:
dataframe.isnull().sum()

Rating            1474
App                  0
Category             0
Reviews              0
Size                 0
Installs             0
Price                0
Content Rating       0
Genres               0
Last Updated         0
Current Ver          8
Android Ver          2
dtype: int64

In [11]:
#moramo da vidimo sta cemo sa ovom velikom kolicinom redova gde je 
#rating NaN...
#jedna od opcija je da uzmemo srednju vrednost svih ratinga, pa da nam
#to bude vrednost koju cemo da koristimo
#a mozda i nema veze, jer je to otprilike samo desetina redova
dataframe = dataframe.dropna()

In [12]:
dataframe.count()

Rating            9360
App               9360
Category          9360
Reviews           9360
Size              9360
Installs          9360
Price             9360
Content Rating    9360
Genres            9360
Last Updated      9360
Current Ver       9360
Android Ver       9360
dtype: int64

In [13]:
import numpy as np
from sklearn import preprocessing

#Rescaling function 0-1
def rescaling(dfColumn):
    # Create feature
    feature = dfColumn.to_numpy().reshape(-1, 1)
    #Create scaler
    minmax_scale = preprocessing.MinMaxScaler(feature_range=(0, 1))
    # Scale feature
    scaled_feature = minmax_scale.fit_transform(feature)
    return pd.Series(scaled_feature.reshape(-1))


#F-ja vraca niz brojeva iz niza stringova
def strToNum(column):
    arr = []
    for r in column:
        value = 0
        if(r[0].isdigit()):
            s = str(int(''.join(filter(str.isdigit, r))))
            value = float(s[:1] + "." + s[1:])
        else:
            value = -10 #ako je prvi karakter string -> 'Varies with device'  !!!!PROMENITI
        arr.append(value)
    return pd.DataFrame(np.array(arr))


def columnSize(column):
    arr = []
    for r in column:
        value = 0
        n=len(r)
        if(r[n-1]=='k'): 
            value = float(r[:n-1])*0.001 #1KB = 0.001MB 
        elif r[n-1]=='M':
            value = float(r[:n-1]) 
        else:
            value = -10  # 'Varies with device'                               !!!!PROMENITI
        arr.append(value)
    return pd.DataFrame(np.array(arr))

In [14]:
#Sredjivanje podataka, dodeljivanje brojcanih vrednosti
dataframe['Android Ver'] = strToNum(dataframe['Android Ver'].to_numpy())
dataframe['Current Ver'] = strToNum(dataframe['Current Ver'].to_numpy())
dataframe['Size'] = columnSize(dataframe['Size'].to_numpy())

#Rescaling 
dataframe['Reviews'] = rescaling(dataframe['Reviews'])
dataframe['Rating'] = rescaling(dataframe['Rating'])
dataframe['Installs'] = rescaling(dataframe['Installs'])
dataframe['Price'] = rescaling(dataframe['Price'])
dataframe['Size'] = rescaling(dataframe['Size'])

In [15]:
#### https://www.kaggle.com/madhav000/playstore-analysis

#Standardizing a Feature?
#Normalizing Observations?
#Generating Polynomial and Interaction Features?
#Detecting Outliers?

#Last Updated - vreme, videti kako da se predstavi

In [16]:
#Encoding Nominal Categorical Features (App, Genres, Category)
dataframe = pd.concat([dataframe,pd.get_dummies(dataframe['App'], prefix='App')],axis=1)
dataframe.drop(['App'],axis=1, inplace=True)

dataframe = pd.concat([dataframe,pd.get_dummies(dataframe['Genres'], prefix='Genres')],axis=1)
dataframe.drop(['Genres'],axis=1, inplace=True)

dataframe = pd.concat([dataframe,pd.get_dummies(dataframe['Category'], prefix='Category')],axis=1)
dataframe.drop(['Category'],axis=1, inplace=True)

In [17]:
#Encoding Ordinal Categorical Features st.99
#Content Rating: Unrated, Everyone, Everyone 10+, Teen, Mature 17+, Adults only 18+
scale_mapper = {"Unrated":1, "Everyone":1, "Everyone 10+":2, "Teen":3, "Mature 17+":4, "Adults only 18+":5}
dataframe['Content Rating'] = dataframe['Content Rating'].replace(scale_mapper)

In [18]:
dataframe.head()

,Rating,Reviews,Size,Installs,Price,Content Rating,Last Updated,Current Ver,Android Ver,App_#NAME?,...,Category_PERSONALIZATION,Category_PHOTOGRAPHY,Category_PRODUCTIVITY,Category_SHOPPING,Category_SOCIAL,Category_SPORTS,Category_TOOLS,Category_TRAVEL_AND_LOCAL,Category_VIDEO_PLAYERS,Category_WEATHER
0,0.775,0.000002,0.263636,0.00001,0.0,1,07-Jan-18,1.00,4.03,0,...,0,0,0,0,0,0,0,0,0,0
1,0.725,0.000012,0.218182,0.00050,0.0,1,15-Jan-18,2.00,4.03,0,...,0,0,0,0,0,0,0,0,0,0
2,0.925,0.001120,0.170000,0.00500,0.0,1,01-Aug-18,1.24,4.03,0,...,0,0,0,0,0,0,0,0,0,0
3,0.875,0.002759,0.318182,0.05000,0.0,3,08-Jun-18,-10.00,4.20,0,...,0,0,0,0,0,0,0,0,0,0
4,0.825,0.000012,0.116364,0.00010,0.0,1,20-Jun-18,1.10,4.40,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
dataframe.shape

(9360, 8347)